*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
  background-color: white;
  position: sticky;
  top: 0px;
  margin-bottom: 2%;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration:none;
    text-align: center;
    color: black;
    padding: 10px 0px;/*Agrandit le menu et espace la bordure du texte*/
  }

nav a:hover{
    color: rgb(0, 0, 0);
    text-decoration:none;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.conteneur{
  margin: 0px 20px;
  height: 1500px;
}


/* Définition de la police de caractère */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Style pour le titre de la page */
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 70;
  font-size: 5rem;
  text-align: center;
  color: #fff;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0,2);
  transition: background-color 0.5s ease;
  padding: 20px;
  background-color: #190039;
  border-top: 10px solid #190039;
  border-bottom: 10px solid #190039;
  text-decoration: none;
}

a h1{
  text-decoration: none;
}

#titre {
  color : white;
}

/* Effet de transition au survol du titre */
h1:hover {
  background-color: #2196f3;
  border-top: 10px solid #1e88e5;
  border-bottom: 10px solid #1e88e5;
}



  h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    color: black;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 25px;
    }

    table {
      overflow: auto;
      margin-left:5%;
      margin-right:5%;
      width: 90%;
      text-align: left;
      border: none;
  }

  th, td {
    padding: 15px;
    text-align: left;
  }

  th {
    background-color: #190039;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  form {
    overflow: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

  input[type=text] {
    border: none;
    border-bottom: 2px solid #190039;
    color: black;
  }

  input[type=text]:focus {
    outline: none;
    padding: 4px 5px;
    color: white;
    background-color: #190039;
    margin: 4px 2px;
  }

  input[type=button], input[type=submit] {
    background-color: #190039;
    border: none;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  .formModif {
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
  }

  p .infoCompte {
    margin-left: 50%;
    margin-right: auto;
  }

  .container1 {
    display: flex;
    margin-top: 7%;
    justify-content: center;
    align-items: center;
  }

  .container2 {
    display: flex;
    margin-top: 7%;
    justify-content: center;
    align-items: center;
    margin-bottom: 17%;
  }
  
  #btnCompte {
    background-color: #190039;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #paragrapheIntro {
    text-align: center;
    padding-top: 10%;
    padding-left: 10px;
    margin-bottom: 20%;
  }

  ul {
    padding: 20px;
    list-style-type: square;
  }

  ul li {
    margin: 5px;
  }